<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SERVER" value="PROLIANTML3505" />
    <add key="DATABASE" value="CVCR" />
    <add key="DBOUSER" value="sa" />
    <add key="PWD" value="sap2005" />
    <add key="DBOSCHEMA" value="dbo" />
    <add key="TYPEDATABASE" value="SQLSERVER" />
    <add key="AUTHENTICATION" value="EXTERNAL" />
    <add key="APP" value="ADMIM" />
    <add key="NivelInicial" value="1" />
  </appSettings>
</configuration>