set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



/* SP Utilizado en Q:SIG Valores VideoMark (consolidado)*/
/*
	Release History:
					r01		- Se delimita que no muestre los movimientos de theatrical para todos los países
*/

ALTER PROCEDURE [dbo].[Conso_VtaVMACTUAL]

@fecha1 AS DATETIME,
@fecha2 AS DATETIME,
@GT	AS NUMERIC (19,4),
@HN	AS NUMERIC (19,4),
@CR	AS NUMERIC (19,4),
@DO	AS NUMERIC (19,4)

AS

INSERT INTO  #Conso_VTAVIDEOMARK
SELECT NOMBRE,SUM(GT),SUM(SV),SUM(HN),SUM(CR),SUM(PA),SUM(DO),( SUM(GT) + SUM(SV) + SUM(HN) + SUM(CR) + SUM(PA) + SUM(DO)) AS TOTAL  FROM(

SELECT GRUPO,NOMBRE, SUM(VENTA)/@GT AS GT,0 AS SV,0 AS HN,0 AS CR,0 AS PA, 0 AS DO FROM(
SELECT T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal) 	AS VENTA 
FROM      PRGT.DBO.INV1 T0
 INNER JOIN PRGT.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN PRGT.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN PRGT.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN PRGT.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104 and T4.GroupCode <>107
	AND T1.DocType    = 'I'
 GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam

UNION ALL

SELECT  T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal)*-1 	AS VENTA      
FROM      PRGT.DBO.RIN1 T0
 INNER JOIN PRGT.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN PRGT.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN PRGT.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN PRGT.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND  
	 T4.GroupCode<>104 and T4.GroupCode <>107
	AND T1.DocType    = 'I'
 GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam

UNION ALL

/*AGREGANDO LAS  ND EN VALORES Q SON DE SOLO DE CLIENTES DE ARTICULOS */

SELECT '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal) 	AS VENTA 
FROM      PRGT.DBO.INV1 T0
 INNER JOIN PRGT.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN PRGT.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN PRGT.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN PRGT.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104 AND T4.GroupCode<>107  AND T4.GroupCode<>108
	AND T1.DocType    = 'S'
AND T1.U_FacSerie LIKE 'ND'

UNION ALL


/*AGREGANDO A DISNEY TODAS LAS NC EN VALORES Q SON DE SOLO DE CLIENTES DE ARTICULOS*/
SELECT  '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal)*-1 	AS VENTA      
FROM      PRGT.DBO.RIN1 T0
 INNER JOIN PRGT.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN PRGT.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN PRGT.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN PRGT.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND  
	 T4.GroupCode<>104  AND T4.GroupCode<>107  AND T4.GroupCode<>108
	AND T1.DocType    = 'S'
 /*GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam*/

) T0 GROUP BY GRUPO,NOMBRE HAVING GRUPO IS NOT NULL

UNION ALL

/*EL SALVADOR*/

SELECT GRUPO,NOMBRE,0 AS GT, SUM(VENTA) AS SV,0 AS HN,0 AS CR,0 AS PA, 0 AS DO FROM(
SELECT T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal) 	AS VENTA
FROM      VMSV.DBO.INV1 T0
 INNER JOIN VMSV.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMSV.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMSV.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMSV.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104 and T4.GroupCode <>108
	AND T1.DocType    = 'I'
 GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam

UNION ALL

SELECT  T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal)*-1 	AS VENTA      
FROM      VMSV.DBO.RIN1 T0
 INNER JOIN VMSV.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMSV.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMSV.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMSV.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND   T4.GroupCode<>104
	AND T1.DocType    = 'I' and T4.GroupCode<>108
 GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam

UNION ALL
/*LAS ND DE LA VENTA DE CLIENTES*/

SELECT   '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal) 	AS VENTA
FROM      VMSV.DBO.INV1 T0
 INNER JOIN VMSV.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMSV.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMSV.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMSV.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104 and T4.GroupCode<>108
	AND T1.DocType    = 'S'
AND T1.U_FacSerie LIKE 'ND'
/* GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam*/

UNION ALL

/*LAS NC EN VALORES Q SON SOLO DE CLIENTES DE ARTICULOS*/

SELECT  '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal)*-1 	AS VENTA      
FROM      VMSV.DBO.RIN1 T0
 INNER JOIN VMSV.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMSV.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMSV.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMSV.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND 
	  T4.GroupCode<>104 and  T4.GroupCode<>108
	AND T1.DocType    = 'S'
 /*GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam*/


) T0 GROUP BY GRUPO,NOMBRE HAVING GRUPO IS NOT NULL

UNION ALL

/*HONDURAS*/

SELECT GRUPO,NOMBRE,0 AS GT, 0 AS SV,SUM(VENTA)/@HN AS HN,0 AS CR,0 AS PA, 0 AS DO FROM(
SELECT T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal) 	AS VENTA
FROM      PRHN.DBO.INV1 T0
 INNER JOIN PRHN.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN PRHN.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN PRHN.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN PRHN.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104 and  T4.GroupCode<>107
	AND T1.DocType    = 'I'
 GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam

UNION ALL

SELECT  T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal)*-1 	AS VENTA      
FROM      PRHN.DBO.RIN1 T0
 INNER JOIN PRHN.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN PRHN.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN PRHN.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN PRHN.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND   T4.GroupCode<>104
	AND T1.DocType    = 'I'  and T4.GroupCode<>107
 GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam

UNION ALL
/*LAS ND DE LA VENTA DE CLIENTES*/

SELECT   '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal) 	AS VENTA
FROM      PRHN.DBO.INV1 T0
 INNER JOIN PRHN.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN PRHN.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN PRHN.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN PRHN.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104 AND T4.GroupCode<>107 
	AND T1.DocType    = 'S'
AND T1.U_FacSerie LIKE 'ND'
/* GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam*/

UNION ALL

/*LAS NC EN VALORES Q SON SOLO DE CLIENTES DE ARTICULOS*/

SELECT  '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal)*-1 	AS VENTA      
FROM      PRHN.DBO.RIN1 T0
 INNER JOIN PRHN.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN PRHN.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN PRHN.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN PRHN.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND 
	  T4.GroupCode<>104 AND T4.GroupCode<>107 
	AND T1.DocType    = 'S'
 /*GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam*/


) T0 GROUP BY GRUPO,NOMBRE HAVING GRUPO IS NOT NULL


UNION ALL

/*COSTA RICA*/

SELECT GRUPO,NOMBRE,0 AS GT,0 AS SV,0 AS HN,SUM(VENTA)/@CR AS CR,0 AS PA, 0 AS DO FROM(

SELECT T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal) 	AS VENTA
 FROM      VMCR.DBO.INV1 T0
 INNER JOIN VMCR.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMCR.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMCR.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMCR.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>103  and T4.GroupCode<>107
	AND T1.DocType    = 'I'
 GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam

UNION ALL

SELECT  T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal)*-1 	AS VENTA
FROM      VMCR.DBO.RIN1 T0
 INNER JOIN VMCR.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMCR.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMCR.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMCR.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND   T4.GroupCode<>103
	AND T1.DocType    = 'I'  and T4.GroupCode<>107
 GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam

UNION ALL
/*LAS ND EN VALORES Q SON DE CLIENTES DE ARTICULOS*/
SELECT   '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal) 	AS VENTA
 FROM      VMCR.DBO.INV1 T0
 INNER JOIN VMCR.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMCR.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMCR.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMCR.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>103 AND T4.GroupCode<>107
	AND T1.DocType    = 'S'
AND T1.U_FacSerie LIKE 'ND'
 
UNION ALL

/*LAS NC EN VALORES Q SON DE CLIENT/VTA DE ARTICULOS*/

SELECT   '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	SUM(T0.LineTotal)*-1 	AS VENTA
FROM      VMCR.DBO.RIN1 T0
 INNER JOIN VMCR.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMCR.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMCR.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMCR.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND  
	 T4.GroupCode<>103 AND T4.GroupCode<>107
	AND T1.DocType    = 'S'



) T0 GROUP BY GRUPO,NOMBRE HAVING GRUPO IS NOT NULL

/*OPEN MODIFICANDO PARA Q RESTE EL DESCUENTO A LA VENTA NETA*/

UNION ALL

SELECT GRUPO,NOMBRE,0 AS GT,0 AS SV,0 AS HN,SUM(VENTA)/@CR*-1 AS CR,0 AS PA, 0 AS DO FROM(

SELECT T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.Quantity * T0.PriceBefDi - T0.StockSum)  	AS VENTA
 FROM      VMCR.DBO.INV1 T0
 INNER JOIN VMCR.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMCR.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMCR.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMCR.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>103
	AND T1.DocType    = 'I' and  T4.GroupCode<>107
 GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam

UNION ALL

SELECT  T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.Quantity * T0.PriceBefDi - T0.StockSum)*-1 	AS VENTA
FROM      VMCR.DBO.RIN1 T0
 INNER JOIN VMCR.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMCR.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMCR.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMCR.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND   T4.GroupCode<>103
	AND T1.DocType    = 'I'  and T4.GroupCode<>107
 GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam

) T0 GROUP BY GRUPO,NOMBRE HAVING GRUPO IS NOT NULL


/*CLOSE MODIF DESCUENTO*/

UNION ALL

/*PANAMA*/

SELECT GRUPO,NOMBRE,0 AS GT,0 AS SV,0 AS HN,0 AS CR,SUM(VENTA) AS PA, 0 AS DO FROM(
SELECT T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal) 	AS VENTA
FROM      VMPA.DBO.INV1 T0
 INNER JOIN VMPA.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMPA.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMPA.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMPA.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104
	AND T1.DocType    = 'I'  and T4.GroupCode<>107
 GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam

UNION ALL

SELECT  T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal)*-1 	AS VENTA
FROM      VMPA.DBO.RIN1 T0
 INNER JOIN VMPA.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMPA.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMPA.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMPA.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND   T4.GroupCode<>104
	AND T1.DocType    = 'I'  and T4.GroupCode<>107
 GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam


UNION ALL

/* AGREGANDO ND EN VALORES Q SON DE VTA CLIENTES ARTICULOS*/


SELECT '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal) 	AS VENTA
FROM      VMPA.DBO.INV1 T0
 INNER JOIN VMPA.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMPA.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMPA.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMPA.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104       AND T4.GroupCode<>107
	AND T1.DocType    = 'S'
AND T1.U_FacSerie LIKE 'ND'


UNION ALL
/*AGREGANDO LAS NC Q SON EN VALORES PERO Q SON DE VTA CLIENT ARTICULOS*/

SELECT  '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal)*-1 	AS VENTA
FROM      VMPA.DBO.RIN1 T0
 INNER JOIN VMPA.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMPA.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMPA.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMPA.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2
	 AND  T4.GroupCode<>104 AND T4.GroupCode<>107
	AND T1.DocType    = 'S'




) T0 GROUP BY GRUPO,NOMBRE HAVING GRUPO IS NOT NULL

UNION ALL

/*DOMINICANA*/

SELECT GRUPO,NOMBRE,0 AS GT,0 AS SV,0 AS HN,0 AS CR,0 AS PA, SUM(VENTA)/@DO AS DO FROM(
SELECT T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal) 	AS VENTA
FROM      VMDO.DBO.INV1 T0
 INNER JOIN VMDO.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMDO.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMDO.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMDO.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104  and T4.GroupCode<>107
	AND T1.DocType    = 'I'
 GROUP BY T2.ItmsGrpCod, T3.ItmsGrpNam

UNION ALL

SELECT  T2.ItmsGrpCod		AS GRUPO,
	T3.ItmsGrpNam		AS NOMBRE,
   	SUM(T0.LineTotal)*-1 	AS VENTA
FROM      VMDO.DBO.RIN1 T0
 INNER JOIN VMDO.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMDO.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMDO.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMDO.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND   T4.GroupCode<>104
	AND T1.DocType    = 'I'  and T4.GroupCode<>107
 GROUP BY T2.ItmsGrpCod,T3.ItmsGrpNam


UNION ALL

/*AGREGANDO LAS ND EN VALORES Q SON DE CLIENTE DE VTA DE ARTICULOS*/

SELECT '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	(T0.LineTotal) 	AS VENTA
FROM      VMDO.DBO.INV1 T0
 INNER JOIN VMDO.DBO.OINV T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMDO.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMDO.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMDO.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 
      AND T4.GroupCode<>104 and  T4.GroupCode<>107
	AND T1.DocType    = 'S'
AND T1.U_FacSerie LIKE 'ND'

UNION ALL

/*AGREGANDO LAS NC EN VALORES Q SON  Q SON DE CLIENTE DE VTA DE ARTICULOS */

SELECT  '100'			AS GRUPO,
	'DVD DISNEY'		AS NOMBRE,
   	SUM(T0.LineTotal)*-1 	AS VENTA
FROM      VMDO.DBO.RIN1 T0
 INNER JOIN VMDO.DBO.ORIN T1 ON T0.DocEntry   = T1.DocEntry
LEFT JOIN VMDO.DBO.OITM T2 ON T0.ItemCode   = T2.ItemCode
LEFT JOIN VMDO.DBO.OITB T3 ON T2.ItmsGrpCod = T3.ItmsGrpCod
INNER JOIN VMDO.DBO.OCRD T4 ON T1.CardCode   = T4.CardCode
WHERE T1.DocDate BETWEEN @fecha1 AND @fecha2 AND  T4.GroupCode<>107
	and T4.GroupCode<>104 AND T1.DocType    = 'S'


) T0 GROUP BY GRUPO,NOMBRE HAVING GRUPO IS NOT NULL


) T0 GROUP BY NOMBRE 
